.icon-box {
	text-align: center;
	padding: 16px;
}

.icon-box > i {
	color: #fc5aa2;
	font-size: 84px;
	margin-bottom: 0.5em;
}

.floating-pink-box {
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: center;
	padding: 48px 32px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 2px 16px -1px rgba(201,72,129,0.5); 
	box-shadow: 0px 2px 16px -1px rgba(201,72,129,0.5);
}

.floating-pink-box > img {
	border-radius: 8px;
	margin-bottom: 16px;
}

.floating-pink-box > h3 {
	color: #fc5aa2;
	margin-bottom: 0px;
}

.floating-pink-box > h4 {
	color: black;
}

.floating-pink-box > h5 {
	color: black;
	margin-bottom: 0px;
	margin-top: 16px;
}

.floating-pink-box > .time {
	font-size: 16px;
	margin-bottom: 16px;
}

.floating-pink-box > .price {
	color: #fc5aa2;
}

.floating-pink-box > p {
	font-size: 16px;
}

footer.footer .social-link {
	background-color: #fc5aa2;
}

footer.footer .social-link:hover {
	background-color: #c94881;
}