html, body {
	font-family: 'Montserrat', sans-serif;
}

.icon-box {
	text-align: center;
	padding: 16px;
}

.icon-box > i {
	color: #D7B056;
	font-size: 84px;
	margin-bottom: 0.5em;
}

.floating-pink-box {
	margin-top: 16px;
	margin-bottom: 16px;
	text-align: center;
	padding: 48px 32px;
	border-radius: 8px;
	-webkit-box-shadow: 0px 4px 16px -8px black; 
	box-shadow: 0px 4px 16px -8px black;
	transition: 0.2s all;
	-webkit-transition: 0.2s all;
}

.floating-pink-box:hover {
	transform: translateY(2px);
	-webkit-box-shadow: 0px 2px 14px -8px black; 
	box-shadow: 0px 2px 14px -8px black;
}

.floating-pink-box > img {
	border-radius: 8px;
	margin-bottom: 16px;
}

.floating-pink-box > h3 {
	color: #D7B056;
	margin-bottom: 0px;
}

.floating-pink-box > h4 {
	color: black;
}

.floating-pink-box > h5 {
	color: black;
	margin-bottom: 0px;
	margin-top: 16px;
}

.floating-pink-box > .time {
	font-size: 16px;
	margin-bottom: 16px;
}

.floating-pink-box > .price {
	color: #D7B056;
}

.floating-pink-box > p {
	font-size: 16px;
}

.floating-pink-box > .btn-primary {
	background-color: #EC297B !important;
	border: 1px solid #020001 !important;
}

.floating-pink-box > .btn-primary:hover {
	background-color: #a40f4e !important;
}

footer.footer .social-link {
	background-color: #D7B056;
}

footer.footer .social-link:hover {
	background-color: #a47427;
}